@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
  exclude: rootscrollgutter;
}
@plugin "daisyui/theme" {
  name: 'night';
  default: false;
  prefersdark: false;
  color-scheme: 'dark';
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
}
